# install via `npm config set userconfig ~/dotfiles/.npmrc`
progress=false

# first create this directory, then be sure it is added to the PATH
# https://docs.npmjs.com/getting-started/fixing-npm-permissions
prefix=~/.npm-global
